#quick-weather{
    margin-top:6px;
    opacity:.75;
    font-size:.95rem;
}

.weather-day{
    transition:.2s;
}

.weather-day:hover{
    background:rgba(255,255,255,.12);
    transform:translateY(-2px);
}

.news-box h3{
    margin-top:15px;
    margin-bottom:8px;
    color:#7dd3fc;
}

.news-box li{
    margin:4px 0;
}

.news-box a{
    text-decoration:none;
}

.news-box a:hover{
    color:#7dd3fc;
}
